.*.swp
._*
.DS_Store
.git
.gitlab-ci*
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
.travis.yml
.editorconfig
.eslint*
.yarnrc

config.gypi
CVS
npm-debug.log

yarn-debug.log*
yarn-error.log*
default.config
rollup.config.js


docker*
Docker*

coverage
config
demo
public
src
scripts
styleguide*
